@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.bg-blur {
    background: rgba(32, 30, 30, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
